/* NORMAL */
body{
    background-color: #f5f5f5;
}

.navbar{
    background-color: transparent;
    padding: 2px !important;
}

.img-register{
    background-image: url('../growth.png');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    left: 80px;
}

.img-login{
    background-image: url('../login.png');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    left: -80px;
}

.img-right{
    background-image: url('../blogging.png');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.img-error{
    background-image: url('../error.png');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.row{
    margin: 0px !important;
    padding: 0px !important;
}

.text-left{
    margin-top: 100px;
}

.index-container{
    padding: 0px 200px 0px 300px;
}

.form-group{
    color: black;
}

.btn-right{
    text-align: right;
}

.data{
    margin-top: 40px;
}

.home{
    font-size: 40px !important;
    margin-left: 20px;
    padding: 10px;
}

.nav-link:hover{
    color: #f77f5e !important;
    transition: 0.5s;
}

.form-info{
    margin-top: 20px;
    padding: 20px;
    left: 80px;
}

.nav-link{
    color: #9162de !important;
    font-family: monospace !important;
    font-size: 20px;
    text-align: center;
    margin: 4px;
    padding: 32px !important;
    align-items: center !important;
    cursor: pointer !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    border-radius: 60px !important;
    padding: .7rem 1.4rem !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1) !important;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1) !important;
    -webkit-transition: .3s;
    transition: .3s;
    background-size: 200% auto;
}

.footer{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-left: 20px;
}

.write-review{
    margin-top: 40px;
    color: #f77f5e;
}

.alert{
    margin-top: 12px;
    color: #f77f5e;
    font-size: 26px;
    text-align: center;
}

.btn-right{
    text-align: right;
}

.book{
    margin-top: 50px !important;
}

.bookPage-img{
    width: 60%;
}

.reviews-title{
    margin-top: 20px;
    color: #9162de;
}

.founded{
    text-align: center;
    color: #9162de;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    font-size: 40px;
}

.books{
    margin-left: 4%;
    margin-right: 4%;
}

.btn-search{
    background-color: #9162de;
    color: white;
    margin-right: 6px;
}

.btn-search:hover{
    background-color: #f77f5e;
    color:white;
}

.book{
    margin-bottom: 10px;
}

.title{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

.image__box{
    background: #f5f5f5;
    padding: 10px;
    overflow: hidden;
}
.image__box img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.text__box{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: .5s;
    left: 0px;
}

.image__box:hover .text__box{
    bottom: -0%;
}

.image__box:hover img{
    opacity: 20%;
}

.book-img{
    margin: 0px 0px 0px 80px !important;
}

.book-info{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-family: 'Roboto Mono', monospace;
}

.top{
    margin-top: 20%;
}

.link{
    font-family: 'Roboto Mono', monospace;
    color: #9162de;
}

.link:hover{
    text-decoration: none;
    color: grey;
}

i{
    margin-right: 2px;
}

.quote{
    color: black;
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
}

.text-strong{
    color: #9162de;
    font-size: 70px;
}

.btn-send{
    background-color: #f77f5e;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.btn-send:hover{
    background-color: #9162de;
    color: white;
    transition: .5s;
}

@media (max-width: 760px){

    .quote{
        font-size: 40px;
    }

    .form-info{
        width: 100%;
        border: none;
        font-size: 22px;
        left: 0px;
    }


    .important{
        font-size: 18px;
        color: black;
    }
    
    .navbar{
        padding: 10px !important;
        border-bottom: 0px;
    }

    .img-login, .img-register, .img-right, .img-error{
        height: 600px;
        left: 0px;
    }
    

    .text-left{
        margin-top: 0px;
    }
    
    .index-container{
        padding: 10px;
    }

    .quote{
        font-size: 40px !important;
    }

    .text-strong{
        font-size: 50px;
    }

    .book-img{
        margin: 0px !important;
    }
}


@media (max-width: 1025px){

    .quote{
        font-size: 40px;
    }

    .form-info{
        width: 100%;
        border: none;
        font-size: 22px;
        left: 0px;
    }


    .important{
        font-size: 18px;
        color: black;
    }
    
    .navbar{
        padding: 10px !important;
        border-bottom: 0px;
    }

    .img-login, .img-register, .img-right, .img-error{
        height: 800px;
        left: 0px;
    }
    

    .text-left{
        margin-top:100px;
    }
    
    .index-container{
        padding: 10px;
    }

    .quote{
        font-size: 60px;
    }

    .text-strong{
        font-size: 50px;
    }

    .book-img{
        margin: 0px !important;
    }
}