/* NORMAL */
body{
    background-color: #16141f;
}

.navbar{
    background-color: transparent;
    padding: 2px !important;
    border-bottom: 6px solid #00c489;
}

.form-group{
    color: white;
}

.navbar-toggler{
    background-color: #00c489 ;
}

.data{
    margin-top: 40px;
}

.home{
    font-size: 40px !important;
    margin-left: 20px;
    padding: 10px;
}

.nav-link:hover{
    color: #00c489 !important;
    transition: 0.5s;
}

.form-info{
    margin-top: 20px;
    width: 30%;
}

.nav-link{
    color: white !important;
    font-family: monospace !important;
    font-size: 20px;
    text-align: center;
}

.write-review{
    margin-top: 40px;
    color: #00c489;
}

.alert{
    margin-top: 40px;
    color: #00c489;
    font-size: 26px;
    text-align: center;
}

.btn-right{
    text-align: right;
}

.reviews-title{
    margin-top: 20px;
    color: #00c489;
}

.founded{
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    font-size: 40px;
}

.books{
    margin-left: 4%;
    margin-right: 4%;
}

.btn-search{
    margin-right: 6px;
}

.book{
    margin-bottom: 10px;
}

.title{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

.image__box{
    background: #000;
    padding: 10px;
    overflow: hidden;
}
.image__box img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.text__box{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: .5s;
    left: 0px;
}

.image__box:hover .text__box{
    bottom: -0%;
}

.image__box:hover img{
    opacity: 20%;
}

.book-info{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.top{
    margin-top: 20%;
}

.link{
    font-family: 'Roboto Mono', monospace;
    color: grey;
}

.link:hover{
    text-decoration: none;
    color: #00c489;
}

i{
    margin-right: 2px;
}

.quote{
    color: #f0f0f0;
    font-size: 60px;
}

.book-img{
    margin-top: 30px;
}

.bookPage-img{
    width: 60%;
}

.btn-send{
    background-color: #00c489;
    color: white;
}

@media (max-width: 760px){

    .quote{
        font-size: 40px;
    }
    
    .book-img{
        margin-top: 20px;
    }

    .form-info{
        margin-top: 30%;
        width: 80%;
    }

    .navbar{
        padding: 10px !important;
        border-bottom: 0px;
    }

    .bookPage-img{
        width: 100%;
    }

}