{% extends "layout.html" %}

{% block body %}
<div class="container">
    {% for book in data %}
    <div class="row book">
        <div class="col-md-6 col-xs-6 col-xl-5 book-img">
            <img class="bookPage-img book-img img-fluid img-responsive" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg">   
        </div> 
        <div class="col-md-6 col-xs-6 col-xl-4">
            <ul class="list-group data">
                <li class="list-group-item"><strong>{{book.title}}</strong></li>
                <li class="list-group-item"><strong>Author</strong>: {{book.author}}</li>
                <li class="list-group-item"><strong>Year</strong>: {{book.year}}</li>
                <li class="list-group-item"><strong>Isbn</strong>: {{book.isbn}}</li>
                <li class="list-group-item"><strong>Rating</strong>: {{work_ratings_count}}</li>
                <li class="list-group-item"><strong>Average rate</strong>: {{average_rating}}</li>
            </ul>
        </div>
    </div>
    <form class='form-group' method="post">
        <label class="write-review"><i class="fa fa-pencil"></i>Write your review...</label>
            <textarea class="textarea form-control" name="textarea" placeholder="Review" required></textarea>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <select name="stars" class='custom-select mr-sm-2' required>
                        <option selected value disabled> Rate the book</option>
                        <option value="1">1 stars</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select> 
                </div>
            </div>
            <div class="btn-right">
                <button class="btn-submit my-2 btn btn-send" type="submit">Send Review</button>
            </div>
    </form>
    {% if reviews %}
        <ul class="list-group list-group-flush"><p class="reviews-title"><strong>Reviews</strong></p>
    {% endif %}
    {% for review in reviews %}
        {% if review.rating >= 3 %}
            <li class="review list-group-item p-3 mb-2 "><i class="fa fa-thumbs-o-up"></i> <i><b>Rate</b></i>: {{review.rating}} <br> {{review.review}} <br> Sended by <strong>{{review.username.title()}}</strong> </li>
        {% else %}
            <li class="review list-group-item p-3 mb-2"><i class="fa fa-thumbs-o-down"></i> <i><b>Rate</b></i>: {{review.rating}} <br> {{review.review}} <br> Sended by <strong>{{review.username.title()}}</strong></li>
        {% endif %}
    {% endfor %}
        </ul>
</div>
    {% endfor %}
{% endblock %}
