{% extends "layout.html" %}

{% block body %}
<div class="container-fluid index-container" id="index">
    <div class="row">
        <div class="col-xs-12 col-xl-5 col-md-5 text-left">
            <h1 class="quote">"you can't buy <strong class="text-strong">HAPPINESS</strong> but you can buy <strong class="text-strong">BOOKS</strong> and that's kind of the same thing"</h1>
        </div>
        <div class="col-xs-12 col-xl-6 col-md-6 img-right">
        </div>
    </div>
    <fotter>
        <p class="footer">Created by <a href="https://github.com/LeoZorzoli" class="link" target="_blank">LeoZorzoli</a></p>
    </fotter>
</div>
{% endblock %}