{% extends "layout.html" %}

{% block body %}
    <div class="books">
        <p class="founded">Founded Books</p>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-6 col-sm-12 col-xl-2 image__box">
                <img  class="img-fluid img-responsive" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg">
                <div class="text__box">
                    <p class="book-info top">{{book.title}}</p>
                    <p class="book-info">{{book.author}}</p>
                    <p class="book-info">{{book.year}}</p>
                    <p class="book-info"><a class="link" href="search/{{book.isbn}}"></i>Book page</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}